{% include partials/header.html %}

<h1 class="display-5 mb-3">
  {% if page.title %}
    {{ page.title }}
  {% else %}
    {{ site.data.lang[site.conference.lang].location.directions | default: "Directions" }}
  {% endif %}
</h1>

{% unless site.conference.location.hide %}
  {% include partials/navbar_rooms.html %}
{% endunless %}

{{ content }}

{% if site.conference.location.map %}
  <!-- Map Container -->
  <div id="map" class="mt-4 mb-3" style="height: 400px;"></div>

  <!-- Legend -->
  <div class="mt-2">
    <h5>Legend:</h5>
    <div>
      <span style="color: red;">&#9679;</span> Main Venue
      <span style="color: blue;">&#9679;</span> Attractions
      <span style="color: green;">&#9679;</span> Activities
      <span style="color: orange;">&#9679;</span> Restaurants
      <span style="color: purple;">&#9679;</span> Bars
    </div>
  </div>

  <!-- Locations List -->
  <h4 class="mt-4">Places Nearby</h4>
  <ul>
    {% for place in site.data.location.places %}
      <li>
        <strong>{{ place.name }}</strong> -
        <a href="{{ place.website }}" target="_blank">Visit Website</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% include partials/footer.html %}

<!-- Leaflet.js (OpenStreetMap) -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var map = L.map('map').setView([{{ site.conference.location.lat }}, {{ site.conference.location.lng }}], 14);

    // Load OpenStreetMap tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var locations = {{ site.data.location.places | jsonify }};
    var colors = {
      "venue": "red",
      "attraction": "blue",
      "activity": "green",
      "restaurant": "orange",
      "bar": "purple"
    };

    locations.forEach(function(place) {
      L.circleMarker([place.lat, place.lng], {
        color: colors[place.type],
        fillColor: colors[place.type],
        fillOpacity: 0.8,
        radius: 8
      }).addTo(map)
      .bindPopup(`<strong>${place.name}</strong><br><a href="${place.website}" target="_blank">Visit Website</a>`);
    });
  });
</script>
